.signUpBody {
    font-family: system-ui, sans-serif;
    font-size: .92em;

    background-color: rgb(231, 231, 231);
    padding: 0;
    display: flex;
    margin: auto;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;

    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), 
                      url('../images/background.jpg'); 
    background-size: cover;
    background-position: center;
}

/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F3D4F3;
    border-bottom: 3px solid #79bfb3;
    padding: 14px 16px;
    z-index: 1000;
    box-sizing: border-box;
}

.navbar-logo a{
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
}

#logo-text {
    font-size: 20px;
    font-weight: bold;
}

.navbar-btns {
    display: flex;
    gap: 20px;
}

.navbar a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
    transition: 0.3s;
}

.btn {
  border: none;
  background: #fff;
  padding: 8px 12px;
  border-radius: 12px;
  cursor: pointer;
  font-weight: 700;
  border: 3px solid rgba(20,20,20,0.10);

  transition: filter 0.15s ease, transform 0.05s ease;
}

.btn:hover {
  filter: brightness(0.95);
}

.btn:active {
  filter: brightness(0.90);
  transform: translateY(1px);
}

/* Navbar End */

#signUpContTitle {font-size: 20px;}

.signUpMain{
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 100px;
    margin-left:auto;
    margin-right: auto;
    padding: 20px;
    align-items: center;

    border-radius: 10px;
    border-style: solid;
    border-color: #79bfb3;
    border-width: 3px;
    
    width: 20%;
    height: 100%;

    box-shadow: 0 0 8px rgba(74, 144, 226, 0.3);
}

#signUpTitle {
    font-size: 30px;
}

#signUpFName, #signUpLName, #signUpUName, #signUpPass, #signUpPass2 {
    padding: 5%;
    width: 80%;
    height: 100%;
    
    border-radius: 10px;
    border-style: solid;
    border-color: #C2E5DF;
    border-width: 3px;
}

#signUpFName:focus, #signUpLName:focus, #signUpUName:focus, #signUpPass:focus, #signUpPass2:focus {
    border-color: #F3D4F3; 
    outline: none;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.3); 
    transition: border-color 0.3s ease;
}

#haveAccountp {
    margin: 0;
}

#signUpButton {
    width: 30%;
    height: 100%;
    padding: 3% 2%;
    font-size: large;
    margin-bottom: 20px;
    
    border-radius: 10px;
    border: none;

    background-color: #F3D4F3;
}

#signUpButton:hover {
  filter: brightness(0.95);
}

#signUpResult {
    color: rgb(200, 1, 1);
}