.signUpBody {
    font-family: system-ui, sans-serif;
    font-size: .92em;

    background-color: rgb(231, 231, 231);
    padding: 0;
    display: flex;
    margin: auto;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;
}

#signUpContTitle {
    display: block;
    background-color: #F3D4F3;
    width: 100%;
    margin: 0;
    padding: 1%;
    border-bottom: 3px solid #C2E5DF;
}

.signUpMain{
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    align-items: center;

    border-radius: 10px;
    border-style: solid;
    border-color: #79bfb3;
    border-width: 3px;
    
    width: 20%;
    height: 100%;

    box-shadow: 0 0 8px rgba(74, 144, 226, 0.3);
}

#signUpTitle {
    font-size: 30px;
}

#signUpFName, #signUpLName, #signUpUName, #signUpPass, #signUpPass2 {
    padding: 5%;
    width: 80%;
    height: 100%;
    
    border-radius: 10px;
    border-style: solid;
    border-color: #C2E5DF;
    border-width: 3px;
}

#signUpFName:focus, #signUpLName:focus, #signUpUName:focus, #signUpPass:focus, #signUpPass2:focus {
    border-color: #F3D4F3; 
    outline: none;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.3); 
    transition: border-color 0.3s ease;
}

#haveAccountp {
    margin: 0;
}

#signUpButton {
    width: 30%;
    height: 100%;
    padding: 3% 2%;
    font-size: large;
    margin-bottom: 20px;
    
    border-radius: 10px;
    border: none;

    background-image: linear-gradient(to right, #C2E5DF 50%, #F3D4F3 50%);
    color: black;
    background-size: 200%;
    transition: 0.6s ease-out;
}

#signUpButton:hover {
    background-position: right;
}

#signUpResult {
    color: rgb(200, 1, 1);
}