/*Test comment*/

.signUpBody {
    font-family: system-ui, sans-serif;
    font-size: .92em;

    background-color: rgb(231, 231, 231);
    padding: 0;
    display: flex;
    margin: auto;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
    flex-direction: column;
    box-sizing: border-box;
    overflow-y: auto;
}

.brandSignUp {
    position: sticky;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #F3D4F3;
    border-bottom: 3px solid #C2E5DF;
    margin: 0;
    width: 100vw;
    padding: 14px 16px;
    padding-left: 50px;
}

#signUpContTitle {font-size: 20px;}

.signUpMain{
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    align-items: center;

    border-radius: 10px;
    border-style: solid;
    border-color: #79bfb3;
    border-width: 3px;
    
    width: 20%;
    height: 100%;

    box-shadow: 0 0 8px rgba(74, 144, 226, 0.3);
}

#signUpTitle {
    font-size: 30px;
}

#signUpFName, #signUpLName, #signUpUName, #signUpPass, #signUpPass2 {
    padding: 5%;
    width: 80%;
    height: 100%;
    
    border-radius: 10px;
    border-style: solid;
    border-color: #C2E5DF;
    border-width: 3px;
}

#signUpFName:focus, #signUpLName:focus, #signUpUName:focus, #signUpPass:focus, #signUpPass2:focus {
    border-color: #F3D4F3; 
    outline: none;
    box-shadow: 0 0 8px rgba(74, 144, 226, 0.3); 
    transition: border-color 0.3s ease;
}

#haveAccountp {
    margin: 0;
}

#signUpButton {
    width: 30%;
    height: 100%;
    padding: 3% 2%;
    font-size: large;
    margin-bottom: 20px;
    
    border-radius: 10px;
    border: none;

    background-color: #F3D4F3;
}

#signUpResult {
    color: rgb(200, 1, 1);
}